@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: purple;
    text-align: center;
}

#task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add-task {
    text-align: center;
}